*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* ////////// start faissal /////////// */

.form-style {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
    margin-right: 55%;
}

.form-style form {
    padding: 23px;
    text-align: center;
    width: 534px;
    background: rgba(54, 125, 184, 0.5);
    box-shadow: 12px 12px 22px;
}

.form-style form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
}

.form-style form input,
.form-style form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    border-radius: 5px;
}

.form-style form option {
    background: #fff;
}

.form-style form .form-btn {
    background: white;
    color: blueviolet;
    text-transform: capitalize;
}

.form-style form .form-btn:hover {
    background: blue;
    color: white;
}

.form-style small {
    position: absolute;
    bottom: 0;
    left: 0;
}

.list ul li {
    color: red;
}

.image {
    background: rgba(40, 152, 172, 0.5);
    width: 20%;
}

.par {
    font-size: 40px;
    position: absolute;
    right: 33%;
    top: 21%;
    color: rgb(26, 26, 188);
}


/* /////////// end faissal //////////// */
/* ------------------------------------ */
/* /////////// start hamza //////////// */




/* //////////// end hamza ///////////// */
/* ------------------------------------ */
/* ///////// start boutaina /////////// */

.sidebar-nav {
    --bs-offcanvas-width: 270px !important;
}

.sidebar-text {
    font-size: 16px !important;
}

.offcanvas-backdrop.show {
    display: none !important;
}

.close-offcanvas {
    display: block;
}

.icon-nav, .text-icon {
    color: #0d6efd;
}

.img-gif {
    width: 300px !important;
}

main {
    margin: 110px 10px 0 20px;
}

.first-cards {
    height: 240px !important;
}

.card-bg {
    background: linear-gradient(to right, #83a4d4, #b6fbff);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.gif {
    min-width: 250px !important;
    min-height: 300px !important;
    position: relative;
    bottom: 40px;
}

.card-statis {
    background-color: #83a4d4 !important;
}

#data-table_wrapper {
    margin-right: 27px !important;
    margin-left: 10px !important;
}


@media (min-width: 992px) {
    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        border-top-right-radius :30px !important;
        border-bottom-right-radius :30px !important;
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    }

    .close-offcanvas {
        display: none;
    }

    .search-navbar {
        width: 500px !important;
        height: 28px !important;
    }

    .search-btn {
        width: 59px !important;
    }

    main {
        margin-left: 280px;
    }

}


/* ////////// end boutaina //////////// */
/* ------------------------------------ */
/* /////// start abdelghafour ///////// */



/* //////// end abdelghafour ////////// */

