/* ////////// start faissal /////////// */

body {
    overflow-x: hidden;
}

.form-style {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 48px;
    margin-right: 55%;
}

.form-style form {
    padding: 23px;
    text-align: center;
    width: 534px;
    background: rgba(54, 125, 184, 0.5);
    box-shadow: 12px 12px 22px;
}

.form-style form h3 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: black;
}

.form-style form input,
.form-style form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    border-radius: 5px;
}

.form-style form option {
    background: #fff;
}

.form-style form .form-btn {
    background: white;
    color: blueviolet;
    text-transform: capitalize;
}

.form-style form .form-btn:hover {
    background: blue;
    color: white;
}

.form-style small {
    position: absolute;
    bottom: 0;
    left: 0;
}

.list ul li {
    color: red;
}

.image {
    background: rgba(40, 152, 172, 0.5);
    width: 20%;
}

.par {
    font-size: 40px;
    position: absolute;
    right: 33%;
    top: 21%;
    color: rgb(26, 26, 188);
}


/* /////////// end faissal //////////// */
/* ------------------------------------ */
/* /////////// start hamza //////////// */




/* //////////// end hamza ///////////// */
/* ------------------------------------ */
/* ///////// start boutaina /////////// */



/* ////////// end boutaina //////////// */
/* ------------------------------------ */
/* /////// start abdelghafour ///////// */


@import url("https://fonts.googleapis.com/css?family=Oswald");

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-color: #dadde6;
    font-family: arial;
}

/* .fl-left {
    float: left;
}

.fl-right {
    float: right;
} */

.travel_list {
    text-transform: uppercase;
    font-weight: 900;
    border-left: 10px solid #fec500;
    padding-left: 10px;
    margin-bottom: 30px;
}

.row {
    overflow: hidden;
}

.card {
    display: table-row;
    width: 100%;
    background-color: #fff;
    color: #989898;
    margin-bottom: 10px;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    border-radius: 4px;
    position: relative;
}

.card+.card {
    margin-left: 2%;
}

.date {
    display: table-cell;
    width: 25%;
    position: relative;
    text-align: center;
    border-right: 2px dashed #dadde6;
}

.date:before,
.date:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    background-color: #dadde6;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
    border-radius: 50%;
}

.date:after {
    top: auto;
    bottom: -15px;
}

.date time {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.date time span {
    display: block;
}

.date time span:first-child {
    color: #2b2b2b;
    font-weight: 600;
    /* font-size: 250%; */
    font-size: 125%;
}

.date time span:last-child {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: -10px;
}

.card-cont {
    display: table-cell;
    width: 75%;
    font-size: 85%;
    padding: 10px 10px 30px 50px;
}

.card-cont h3 {
    color: #3c3c3c;
    font-size: 130%;
}

/* .row:last-child .card:last-of-type .card-cont h3 {
    text-decoration: line-through;
} */

.card-cont>div {
    display: table-row;
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time,
.card-cont .even-info p {
    display: table-cell;
}

.card-cont .even-date i,
.card-cont .even-info i {
    padding: 5% 5% 0 0;
}

.card-cont .even-info p {
    padding: 30px 50px 0 0;
}

.card-cont .even-date time span {
    display: block;
}

.card-cont a {
    display: block;
    text-decoration: none;
    width: 80px;
    height: 30px;
    background-color: #d8dde0;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 2px;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.row:last-child .card:first-child .card-cont a {
    background-color: #037fdd;
}

.row:last-child .card:last-child .card-cont a {
    background-color: #f8504c;
}

@media screen and (max-width: 860px) {
    .card {
        display: block;
        float: none;
        width: 100%;
        margin-bottom: 10px;
    }

    .card+.card {
        margin-left: 0;
    }

    .card-cont .even-date,
    .card-cont .even-info {
        font-size: 75%;
    }
}

.border-right-side {
    border: 3px solid red;
    border-radius: 1rem;
    padding: 1rem .5rem;
}

.col-4 {
    padding-left: 0 !important;
}


/* //////// end abdelghafour ////////// */